<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
</head>
<body>
    <h1>Inventory Management</h1>
    <a href="/inventory/new">Add New Item</a>
    <ul>
        <% inventories.forEach(inventory => { %>
            <li>
                <h3><%= inventory.name %></h3>
                <p>Quantity: <%= inventory.quantity %></p>
                <p>Price: <%= inventory.price %></p>
                <a href="/inventory/<%= inventory.id %>">Edit</a> 
                <% console.log(inventory.id,'iiiiiiiiiiii')%>
                <form action="/inventory/<%= inventory.id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>
